// Public Domain (-) 2012 The Planfile App Authors.
// See the Planfile App UNLICENSE file for details.

// * General styles

$grey: #777
$midgrey: #9C9C9C
$lightgrey: #EFEFEF
$red: red
$lightred: #F11
$blue: #01A0EB
$lightblue: #08B0FF
$green: #00AD37
$lightgreen: #03C942

$monospace: Monaco, Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", monospace

// * Elements

*
  padding: 0
  margin: 0

body
  background: #fff
  font-family: Lato, Helvetica, Arial, serif
  font-size: 16px

a
  text-decoration: none
  color: blue

  &:hover
    text-decoration: underline

code
  background: #fefbf6
  border: 1px solid #dbd0be
  background: #f0f0f0
  border: 1px solid #dadada
  font-family: $monospace
  font-size: 13px
  padding: 2px 4px

h1, h2, h3, h4, h5
  font-weight: 700
  margin-bottom: 15px

h1
  font-size: 35px

h2
  font-size: 28px

h3
  font-size: 21px

h4
  font-size: 16px

h5
  font-size: 14px

img
  border: none

label
  cursor: pointer
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none
  user-select: none

li, ol, ul
  list-style: none
  color: $grey

p
  font-weight: 400
  line-height: 24px
  margin-bottom: 20px

textarea, input[type=text]
  font-size: 15px
  font-family: $monospace
  outline: none
  box-shadow: inset 2px 2px 3px #F8F8F8

// * Layout

.container
  clear: both
  margin: 0px auto
  width: 920px

.header
  background-image: -webkit-linear-gradient(270deg, #fafafa, #e8e8e8)
  background-image: linear-gradient(0deg, #fafafa, #e8e8e8)
  border-bottom: 1px solid #ccc
  height: 57px
  min-width: 960px
  padding-top: 12px

.logo
  padding-top: 8px

  a
    color: #000
    font-family: Abel
    font-size: 33px
    line-height: 33px
    text-decoration: none !important

.main
  margin: 30px 0px 10px 0px
  min-width: 960px

.entries
  margin-right: 20px
  width: 680px

  .entry
    margin-bottom: 30px

    .content
      margin-left: 23px

    .tags
      clear: left
      overflow: auto
      a
        background: #F8F8F8
        text-decoration: none
        color: #999
        border-radius: 3px
        padding: 4px 5px
        font-size: 10px
        float: left
        cursor: pointer
      span
        border-radius: 3px
        float: right
        font-size: 10px
        margin-left: 10px
        padding: 4px 6px
        text-decoration: none

.sidebar
  float: right
  padding: 0px 10px
  width: 220px

  div
    margin-bottom: 22px
    text-align: right

  a
    background: #eee
    border-radius: 5px
    color: #000
    font-family: $monospace
    font-size: 14px
    padding: 6px 10px 6px 10px
    text-decoration: none !important

    &:hover
      background: #dfdfdf

    &.selected
      background: #696969
      color: #fff

.tag
  background: #696969
  border-radius: 5px
  color: #fff
  font-family: $monospace
  font-size: 14px
  padding: 6px 10px 6px 10px

.tag-hashtag
  background: #eee
  color: #000

.tag-state-done
  background: darkGreen

.tag-state-needsreview
  background: #ffe2ff
  color: #000

.tag-state-todo
  background: darkRed

.tag-state-wip
  background: #b1f2ec
  color: #000

.tag-user
  background: #3056bf

.title
  padding-left: 5px

// * Controls

.button
  border-radius: 5px
  color: #000
  float: right
  margin-left: 5px
  margin-top: 5px
  padding: 8px 11px 10px 11px
  text-decoration: none !important
  &.edit
    background: $green
    color: #fff
    margin-right: 10px
    &:hover
      background: $lightgreen
  &.login
    background: $blue
    color: #fff
    &:hover
      background: #02a7f5
  &.logout
    margin-top: 4px
    img
      height: 25px
      padding-left: 9px
      width: 25px
      vertical-align: middle

.editor
  border: 1px solid #ececec
  clear: both
  padding: 20px
  width: 918px
  background: #F7F7F7
  margin-bottom: 50px
  .controls
    float: right
    margin: 15px 0
    a
      background: #fff
      color: $grey
      margin-right: 10px
      cursor: pointer
      padding: 4px 9px
      border: 1px solid #E7E7E7
      border-radius: 3px
      &:hover
        color: #A3A3A3
  .preview
    margin: 20px 0
  textarea
    width: 896px
    border: 1px solid #CCC
    border-top: 0
    height: 300px
    padding: 10px
    color: $grey
  input
    color: $grey
    &[type=text]
      width: 896px
      border: 1px solid #CCC
      padding: 15px 10px
      &[name=title]
        border-radius: 3px 3px 0 0
      &[name=tags]
        border-radius: 3px
        margin: 10px 0
    &[type=submit]
      cursor: pointer
      padding: 5px 10px
      border: none
      border-radius: 3px
      font-size: 15px
      margin-right: 10px
      background: $green
      color: white
      &:hover
        background: $lightgreen
    &[type=checkbox]
      float: left
      vertical-align: middle
      height: 21px
      margin-right: 5px
  .button
    float: right

// * Source code syntax highlighting

.syntax
  font-size: 13px
  margin-left: 30px
  margin-bottom: 25px
  border-left: 5px solid #EBEBEB
  pre
    line-height: 1.8em
  .c, .cm, .cp, .cs, .c1
    color: #919191
  .err
    color: #a61717
    background-color: #e3d2d2
  .g
    color: #101010
  .gd
    color: #d22323
  .ge
    color: #101010
    font-style: italic
  .gh
    color: #101010
  .gi
    color: #589819
  .go
    color: #6a6a6a
  .gp
    color: #bb8844
  .gr
    color: #d22323
  .gs
    color: #101010
  .gt
    color: #d22323
  .gu
    color: #101010
  .k
    color: #ff5600
  .kc
    color: #ff5600
  .kd
    color: #ff5600
  .kn, .kp, .kr, .kt
    color: #ff5600
  .l, .ld
    color: #101010
  .m
    color: #5d90cd
  .mf, .mh, .mi, .il, .mo
    color: #5d90cd
  .bp
    color: #a535ae
  .n
    color: #101010
  .na
    color: #bbbbbb
  .nb
    color: #a535ae
  .nc
    color: #101010
  .nd
    color: #6d8091
  .ne
    color: #af956f
  .nf
    color: #1550a2
  .ni, .nl
    color: #101010
  .nn
    color: #101010
  .no, .nx
    color: #101010
  .nt
    color: #6d8091
  .nv, .vc, .vg, .vi, .py
    color: #101010
  .o
    color: #101010
  .ow, .p
    color: #101010
  .s
    color: #00a33f
  .sb, .sc
    color: #00a33f
  .sd
    color: #767676
  .se, .sh, .si, .sr, .ss, .sx, .s1, .s2
    color: #00a33f
  .w, .x
    color: #101010
  &.bash
    .nb
      color: #101010
    .nv
      color: #c32528
  &.css
    .k
      color: #606060
    .nc, .nf, .nt
      color: #c32528
  &.rst
    .k, .ow, .p
      color: #5d90cd
  &.yaml
    .l-Scalar-Plain
      color: #5d90cd
    .p-Indicator
      color: #101010
