<!doctype html>
<html>
<meta charset="utf-8">
    <title>{{.Title}} - Planfile</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body class="plan">
    <div class="container">
        <div class="one columns">
            <div class="sidebar">
            </div>
        </div>
        <div class="four columns">
            <div class="content">
            </div>
        </div>
    </div>
</body>
</html>
